<section class="actu" id="actualites">
    <h2 class='actu__title'>Actualités</h2>
    <div class='actu__ctn'>
     {% for article in articles %}
        <div class='actu__ctn__article'> 
       
                <div class='actu__ctn__article--left'>
                   {% set articleImages = article.image %}
                     
                    <a href="{{ article.url }}"><img src={{ articleImages.first().getUrl }} alt="article"></a>
                   
                </div>
             
                <div class='actu__ctn__article--right'>
                    <a href="{{ article.url }}">
                        <span class='actu__ctn__article--right__title'> {{ article.title }}</span>
                        <span class='actu__ctn__article--right__date'> {{ article.postDate | date("d-m-Y") }}</span>
                </a>
                </div>
           
        </div>
         {% endfor %}
    </div>
</section>